<h1>Angular Pipes</h1> <br>

<h2>

Date: <span>{{ dateToday | date: 'dd/MM/yyyy' }}</span> - Use of date pipe <br>

Date: <span>{{ dateToday | date: 'short'}}</span> - Use of date pipe<br>

Name: <span>{{ name | lowercase}}</span> - Use of lowercase pipe <br>

Name: <span>{{ name | uppercase}}</span> - Use of uppercase pipe <br>

Name: <span>{{ name | slice:3}}</span> - Use of slice pipe <br>

Chained Pipe: <span>{{ dateToday | date | lowercase}}</span> - Use of Chained pipe<br>

Currency: <span>{{ 1 | currency:'USD' }}</span>  - Use of currency Pipe<br>
<br>
Multiply : <span>{{2 | multiplier: '10'}}</span> - Use of custom pipe


</h2>